@font-face {
    font-family: "Baloo";
    src: url("base/fonts/BalooTamma2-Regular.ttf");
}
@import "base/_colors.scss";

* {
    margin: 0;
}

body {
    font-family: "Baloo", cursive;
    background-color: $cd-lavender-web;
    margin: 0;
    height: 100%;
    width: 100%;
}
