$cd-lavender-web:                #f8f8ff;
$cd-medium-slate-blue:           #6d6fee;
$cd-han-purple:                  #2e31e6;
$cd-white:                       #ffffff;
$cd-light-gray:                  #757575;
$cd-red:                         #d43545;
$cd-green:                       #00b85c;
$cd-dark-gray:                   #4b514e;
